#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}

#top .info {
    padding: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#top .info h1 {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    margin-bottom: 2rem;
    padding-top: 15px;
    z-index: 1;
    
}

#top .info p {
    
    position: relative;
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
    z-index: 1;
    font-size: 1.5rem;
}

#top .info {
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
  }
  #top .container .info p a {
    font-size: 3rem;
    color: #8e8f91;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding: 10px;
    z-index: 2;
  }

  #top .container .info p a:hover{
    color: rgba(255,53,53,1);

  }

  #top .info .blue-square{
    border: 20px solid #dbf1ff;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: -70%;
    left: -50%;
}

#top .img .background-img {
    background: url('../img/VCN.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
    margin: 0 auto;
}

#top .about_skills {
  display: grid;
  grid-template-rows: 70px;
}

#top .about_skills .logos {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
} 

#top .about_skills .logos .logos-box.img1{
  background: url('../img/html_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 70px;
  
}

#top .about_skills .logos .logos-box.img2{
  background: url('../img/css_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 70px;
}

#top .about_skills .logos .logos-box.img3{
  background: url('../img/js_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 70px;
  
}

#top .about_skills .logos .logos-box.img4{
  background: url('../img/node_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 70px;
 
}

/* Tablets */
@media only screen and (max-width: 960px){
  #top .container{
    padding: 0 0 80px;
  }

  #top .img .background-img{
    height: 100vh;
  }
}
/* Phones */
@media only screen and (max-width: 767px){
  #top .container{
    padding: 0 0 80px;
  }
  #top .info h1 {
    align-content: end;
    margin: 0 0 10px;
    }
  #top .info p {
    align-content: end;
    margin: 0 0 15px;
    font-size: 1.2rem;
  }

  #top .info .blue-square{
    display: none;
  }
  #top .img .background-img{
    height: 100vh;
  }

  #top .about_skills {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 70px 70px;
  }

  #top .about_skills .logos .logos-box.img1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  #top .about_skills .logos .logos-box.img2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  #top .about_skills .logos .logos-box.img3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  #top .about_skills .logos .logos-box.img4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  

}
